@charset "UTF=8";
table {
    width: 1000px;
    margin : 0 auto;
    border-collapse : collapse;
}
td, th {
    border: 1px solid #999999;
    vertical-align : top;
    width:calc(100% / 6);
    height:30px;
    text-align:left;
    padding:0px 10px;
    text-transform : capitalize;
}

tbody tr:nth-child(odd)  {
    background-color : #f1f1f1;
}
/*
even 짝수 odd홀수
https://quantumcode.tistory.com/
*/