@charset "UTF=8";
table {
    width : 1000px;
    margin : 0 auto;
    border-collapse : collapse;
}
th {
    text-transform : uppercase;
}
td, th{
    border: 1px solid #999999;
    height:30px;
    padding:0px 10px;
}